<%- include('../layouts/header') %>

<h1>Admin Login</h1>

<% if (typeof message !== 'undefined') { %>
    <h3><%= message %></h3>
<% } %>

<form action="/admin" method="post"> 
    <input type="email" name="email" placeholder="Enter email id" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br><br>
    <input type="submit" value="Login">
</form>

<%- include('../layouts/footer') %>