<% include('../layouts/header.ejs') %>

<h1>Forgot Password</h1>

<%
    if(typeof message !== 'undefined'){
        %>
        <h4><%= message %></h4>
        <%
    }
%>

<form action="/forgot" method="post">
    <input type="email" name="email" placeholder="Enter email id" required>
    <br> <br>
    <input type="submit" value="Send Reset Link">
</form>

<% include('../layouts/footer.ejs') %>