<% include('../layouts/header.ejs') %>

<h1>Login</h1>

<form action="/login" method="post">
    <input type="email" name="email" placeholder="Enter email id" required>
    <br> <br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br> <br>
    <input type="submit" value="Login">
</form>
<a href="/forgot">Forgot Password</a>
<br><br>
<a href="/verification">Verification</a>

<% include('../layouts/footer.ejs') %>